



.conteudo {
    width: 100%;
    text-align: center;
}
.btn {
    background: rgb(213, 249, 8);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#a1{
    display: none;
}
#a2{
    display: none;
}
#a3{
    display: none;
}
#a4{
    display: none;
}
#a5{
    display: none;
}
.aba1{
    background-color: rgb(109, 109, 177);
    width: 100%;
    height: 400px;
}
.aba2{
    background-color: rgb(243, 38, 38);
    width: 100%;
    height: 400px;
}
.aba3{
    background-color: rgb(23, 206, 121);
    width: 100%;
    height: 400px;
}
.aba4{
    background-color: rgb(226, 208, 45);
    width: 100%;
    height: 400px;
}
.aba5{
    background-color: rgb(255, 115, 0);
    width: 100%;
    height: 400px;
}
body {
    background-color: rgb(33, 164, 143);
}
.tablet {
    display: none;
    font-size: 60px;
    color: blueviolet;
}
.conteudo{
    text-align: right;
}
.btn{
    margin-top: 0px;
    font-size: 24px;
}

.desktop {
    display: none;

}

.barra {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 83, 248);
    text-align: center;
}
.mobile {
    font-size: 48px;
    color: rgb(0, 0, 0);
}
@media (min-width: 720px) {
    .barra{
        height: 60px;
        background-color: rgb(224, 20, 20)
    }
    .mobile{
        display: none;
    }
    .tablet {
        display: inline;
        font-size: 60px;
        color: rgb(0, 0, 0);
    }
}
@media (min-width: 1228px) {
    .barra {
        height: 105px;
        background-color: rgb(235, 20, 255);
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: inline;
        font-size: 90px;
        color: rgb(0, 0, 0);
    }
    .conteudo{
    text-align: left;
    }
}
